pkgbase = wechat-glass-live
	pkgdesc = KWin effect for translucent WeChat bars on XWayland and Wayland
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/AkiraLyu/kde-plugins
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = vulkan-headers
	depends = kwin
	depends = qt6-base
	depends = qt6-declarative
	depends = libxcb
	depends = python
	depends = qt6-tools
	depends = kconfig
	depends = kwin-effects-better-blur-dx
	options = !debug
	options = !lto
	source = kde-plugins::git+https://github.com/AkiraLyu/kde-plugins.git#commit=e5c28f8d37921e709d7149424b917a1748d40a6e
	sha256sums = SKIP

pkgname = wechat-glass-live
