pkgbase = texlive-meta-full
	pkgdesc = Meta package that depends on all texlive packages
	pkgver = 1
	pkgrel = 3
	arch = any
	license = custom:none
	depends = texlive-basic
	depends = texlive-bibtexextra
	depends = texlive-binextra
	depends = texlive-context
	depends = texlive-fontsextra
	depends = texlive-fontsrecommended
	depends = texlive-fontutils
	depends = texlive-formatsextra
	depends = texlive-games
	depends = texlive-humanities
	depends = texlive-latex
	depends = texlive-latexextra
	depends = texlive-latexrecommended
	depends = texlive-luatex
	depends = texlive-mathscience
	depends = texlive-metapost
	depends = texlive-music
	depends = texlive-pictures
	depends = texlive-plaingeneric
	depends = texlive-pstricks
	depends = texlive-publishers
	depends = texlive-xetex
	depends = texlive-langchinese
	options = !debug
	source = README
	sha256sums = fbf8e338383a022b1cf45022fef0aebacbab1052e531df5c3e7e66e617c59426

pkgname = texlive-meta-full
