pkgbase = niri-akira-git
	pkgdesc = Scrollable-tiling Wayland compositor with popup shadows
	pkgver = 26.4.0.r2944.g0fcdb57
	pkgrel = 1
	url = https://github.com/AkiraLyu/niri
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = git
	makedepends = rust
	depends = bash
	depends = cairo
	depends = glib2
	depends = glibc
	depends = libdisplay-info
	depends = libgcc
	depends = libinput
	depends = libpipewire
	depends = libxkbcommon
	depends = mesa
	depends = pango
	depends = pixman
	depends = seatd
	depends = systemd-libs
	depends = wayland
	optdepends = fuzzel: application launcher
	optdepends = waybar: status bar
	optdepends = alacritty: terminal emulator
	optdepends = mako: notification daemon
	optdepends = swaybg: wallpaper utility
	optdepends = swaylock: screen locker
	optdepends = xwayland-satellite: X11 application support
	optdepends = xdg-desktop-portal-gtk: basic desktop portals
	optdepends = xdg-desktop-portal-gnome: screencasting support
	optdepends = gnome-keyring: secret portal
	optdepends = polkit-gnome: authentication agent
	provides = niri=26.4.0.r2944.g0fcdb57
	provides = wayland-compositor
	conflicts = niri
	conflicts = niri-git
	conflicts = niri-bin
	options = !debug
	options = !lto
	options = strip
	source = niri::git+https://github.com/AkiraLyu/niri.git#branch=feat/popup-shadows
	b2sums = SKIP

pkgname = niri-akira-git
