pkgbase = gamescope-git
	pkgdesc = Gamescope with personal Anime4K filters
	pkgver = 3.16.24.r23.gaa77068
	pkgrel = 2
	url = https://github.com/AkiraLyu/gamescope
	arch = x86_64
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = LicenseRef-Reshade
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = cmake
	makedepends = glslang
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = xorgproto
	makedepends = hwdata
	makedepends = python
	depends = glibc
	depends = gcc-libs
	depends = libavif
	depends = libcap
	depends = libdecor
	depends = libdrm
	depends = libei
	depends = libinput
	depends = libpipewire
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon
	depends = libxmu
	depends = libxrender
	depends = libxres
	depends = libxtst
	depends = libxxf86vm
	depends = luajit
	depends = pixman
	depends = sdl2
	depends = seatd
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = wayland
	depends = xcb-util-errors
	depends = xcb-util-wm
	depends = xorg-xwayland
	provides = gamescope
	conflicts = gamescope
	options = !debug
	options = !lto
	source = gamescope::git+https://github.com/AkiraLyu/gamescope.git
	sha256sums = SKIP

pkgname = gamescope-git
